<p class="section_title"><%=raw section.title %></p>
<%- section.questions.each do |question| %>
  <li class="matrix">
    <p><%= question.content %></p>
    <ul>
    <%- for choice in question.choices %>
      <li class="choice">
        <%= radio_button_tag "answers[#{question.id}][content]", choice.content, (question.answers.find_by_user_id(current_user.id).try(:content) == choice.content) %>
        <%= label_tag "answers[#{question.id}][content]", choice.content %>
      </li>
    <%- end %>
    </ul>
  </li>
<% end %>
