<p>
  <%= link_to 'Investopresto', 'http://investopresto.com', :target => :blank %> is a web based tool that aims to help small investors in India make smarter investment decisions.
  Please help us understand our market needs by completing our short survey.
  We will use your feedback to improve our product.
  No personal details will be recorded.
  Your data will not be shared/sold to anyone outside the company.
  We also promise not to spam you.
</p>
<p>
  20 lucky winners will win INOX movie tickets in the form of vouchers.
  We expect this survey to take 2 minutes of your time.
  You may skip questions but the more questions you answer, the greater your chances of winning.
</p>
<ul>
<% @surveys.each do |survey| %>
  <li><%= link_to survey.name, survey %></li>
<% end %>
</ul>
